Dallas Evers <CNDallas@iastate.edu> <cndallas@cndallas-Z9PE-D8-WS>
Dallas Evers <CNDallas@iastate.edu> <cndallas@cndallas-Lenovo-YOGA-720-15IKB>
Dallas Evers <CNDallas@iastate.edu> CNDallas
Dallas Evers <CNDallas@iastate.edu> <cndallas@iastate.edu> 
Darron Anderson <flameshadow98@yahoo.com> Darkonis
Gabriel Rueger <gmrueger@iastate.edum> Gabriel_Rueger <gmrueger@iastate.edu>
Darron Anderson <flameshadow98@yahoo.com>  <darrona@iastate.edu> darrona
TA Tenson Cai <tensonc@iastate.edu> tensonc